.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.input {
	border: none;
	background: none;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	border-bottom: 1px solid #3c3c3c;
	width: 100%;
}

.input-title {
	border: none;
	background: none;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	border-bottom: 1px solid #3c3c3c;
	width: 100%;
}

.form-label {
	display: flex;
	align-items: center;
	gap: 20px;
	min-width: 150px;
}

.form-row {
	display: flex;
	align-items: center;
}

.input-date {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.6);
}

.invalid {
	border: 1px solid red;
	background: rgba(141, 33, 33, 0.675);
}
